.container {
  max-width: 1080px;
  padding: 50px 25px;
  line-height: 2;
  margin: 0 auto;
}
.container p {
  margin-bottom: 25px;
}
.container img {
  margin-bottom: 25px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.2s linear;
}
.container img.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
