body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f8f9fa; */
}
.form {
  width: 500px;
  margin: 25px auto;
  padding: 25px;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
.form .toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  cursor: pointer;
}
.form input {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solod #eee;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
}
